@media (max-width:454px) {
    body {
        /* background: rgb(252, 134, 134); */
    }

    .main {
        max-width: 78vw;
        margin: 0 auto;
    }

    .page1 {
        /* max-width: 100vw; */
        /* box-sizing: border-box; */
        /* margin-top: 30px ; */

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .heading1 {

        font-size: 1.6em;
        font-family: sans-serif;
        font-weight: bolder;
        text-shadow: 5px 5px #dbdcf0;
    }

    .heading1 span {
        font-size: 1.3rem;

    }

    .img {
        height: 200px;
        width: 150px;
        display: flex;
        margin: 30px auto;
        /* align-items: center; */
        /* background: #706565; */
    }

    .about,
    ul li {
        box-sizing: border-box;

        font-size: 1.1em;
        font-family: sans-serif;
        /* margin: 0px auto; */

        /* margin: 0 10vw; */

    }
}